 <div class="container">
   <div class="row">

  <h2>User info</h2>


  <table class="table">
  <tbody>
    <tr></tr>
    <th>
    <%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no_image.jpg"%>
    </th>
    <tr>
      <th>Name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>Introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>follows</th>
      <th>
        <%= link_to user_followings_path(user) do %>
        <%= user.followings.count %>
        <% end %>
        </th>
    </tr>
    <tr>
      <th>followers</th>
      <th>
        <%= link_to user_followers_path(user) do %>
        <%= user.followers.count %>
        <% end %>
      </th>
    </tr>
    </tbody>
  </table>
 </div>

   <% if current_user != @user %>
    <%= link_to 'Chatを始める', chat_path(@user.id) %>
    <% end %>


    <div class="row">
      <% if user == current_user %>
      <div class="col-10 mx-auto">
        <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
     </div>
     <% else %>
     <div class="col-10 mx-auto">
      <% if current_user.following?(user) %>
       <%= link_to "フォロー外す", user_relationships_path(user), method: :delete, class:"btn btn-primary" %>
       <% else %>
       <%= link_to "フォローする", user_relationships_path(user), method: :post, class:"btn btn-success" %>
       <% end %>
       </div>
       <% end %>
    </div>

  </div>



