<div class="container">
<div class="row">
  <%= form_with model: @user, local:true do |f| %>
<div class="error">
  <% if @user.errors.any? %>
  <h3><%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved: </h3>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
  </ul>
  <% end %>
  </div>

<h1>User info</h1>
<h5>Name</h5>
<%= f.text_field :name %>
<h5>Image</h5>
<%= f.attachment_field :profile_image %>
<h5>Introduction</h5>
<%= f.text_area:introduction %>

<%= f.submit 'Update User' %>

<% end %>

 </div>
</div>

