<main>
<div class="container px-5 px-sm-0">
  <div class="row">
   <p><%= render 'books/error', model:@book %></p>


   <div class="col-md-3">
   <p><%= render 'users/user',user: @user %></p>

   <%= form_with model:@book_new, local:true do |f| %>
   <h2>New book</h2>

  <div class="form-group">
  <label for="book_title">Title</label>
  <input class="form-control book_title" type="text" name="book[title]" id="book_title">
  </div>

  <div class="form-group">
  <label for="book_opinion">Opinion</label>
  <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>
  </div>

  <div class="form-group">
  <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
  </div>
<% end %>

   </div>

<div class="col-md-8 offset-md-1">
 <h2>Book detail</h2>
 <table class="table">
  <tr>
    <td><%= attachment_image_tag @user, :profile_image, size: "50x50", fallback: "no_image.jpg" %><br>
    <%= link_to @user.name, user_path(@user) %></td>

    <td><%= @book.title %></td>
    <td><%= @book.body %></td>

   <% if @book.favorited_by?(current_user) %>
    <td>
      <%= link_to book_favorites_path(@book.id), method: :delete do %>
       ❤ <%= @book.favorites.count %>
    </td>
    <% end %>
  <% else %>
    <td><%= link_to book_favorites_path(@book.id), method: :post do %>
       ♡<%= @book.favorites.count %>
    </td>
  <% end %>
  <% end %>



    <% if @book.user_id == current_user.id %>
     <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-success" %></td>
     <td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger" %></td>
     <% end %>
   </tr>
  </table>
 </div>
</main>