<% if @model == 'user' %>
<h3>Users search for "<%= @content %>"</h3>
<table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Introduction</th>
                <th></th>
            </tr>
        </thead>
<% @records.each do |user| %>
<tbody>
  <tr>
    <th>
      <%= attachment_image_tag user, :profile_image, size: "50x50", fallback: "no_image.jpg" %>
    </th>
    <th>
      <%= user.name %>
    </th>
    <th>
      <%= user.introduction %>
    </th>
     <th>
       <%= link_to "Show", "/users/#{user.id}" %>
      </th>
  </tr>
</tbody>
<% end %>
<% elsif @model == 'book' %>
<h3>Books search for "<%= @content %>"</h3>
<table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th></th>
            </tr>
        </thead>
        <% @records.each do |book| %>
        <tbody>
            <tr>
              <th>
            <%= attachment_image_tag book.user, :profile_image, size: "50x50", fallback: "no_image.jpg" %>
            </th>
            <th>
            <%= link_to book.title, book_path(book.id) %>
            </th>
            <th>
            <%= book.body %>
            </th>

            </tr>
        </tbody>
        <% end %>

<% end %>